* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lato", sans-serif;
}
.common-disc {
  color: rgba(39, 39, 39, 0.6);
  font-size: 14px;
  width: 490px;
  padding-bottom: 18px;
}

.btn-primary {
  border-radius: 8px;
  background: #e55473;
  color: white;
  padding: 14px 24px;
  border: none;
  font-size: 15px;
}

/* Banner */

.header {
  background-color: #e554731a;
  height: 94vh;
  /* background-image: url("./flower asset/pngwing 10.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 500px;
  margin-right: 120px; */
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left {
  padding-left: 120px;
}

.right-image {
  padding-right: 100px;
  padding-top: 25px;
}

.photo {
  width: 520px;
  height: 653px;
  margin-bottom: 0;
}

.title {
  color: #272727;
  font-family: Lato;
  font-size: 44px;
  width: 370px;
  padding-bottom: 16px;
  font-weight: 800;
}

/* feature */

.section-1 {
  height: 94vh;
}

.feature-title {
  text-align: center;
  padding-top: 90px;
  color: #272727;
  font-size: 35px;
}

.disc2 {
  color: rgba(39, 39, 39, 0.6);
  font-size: 14px;
  width: 490px;
  margin: auto;
  padding-bottom: 14px;
  text-align: center;
  padding-top: 18px;
}

.container-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 100px 80px 100px;
}

.card1 {
  width: 380px;
  height: 400px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: #a7216226;
}
.card2 {
  width: 380px;
  height: 400px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: #0597a026;
}
.card3 {
  width: 380px;
  height: 400px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: #477d1126;
}
.imageC {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.underline {
  text-align: center;
  padding-top: 20px;
  text-decoration: underline;
  color: #272727;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.underline2 {
  text-align: center;
  padding-top: 50px;
  text-decoration: underline;
  color: #272727;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.img1 {
  width: 225px;
  height: 310px;
  padding-top: 50px;
}
.img2 {
  width: 270px;
  height: 310px;
  padding-top: 20px;
}
.img3 {
  width: 240px;
  height: 310px;
  padding-top: 50px;
}

/* Sale Up Part */

.container-3 {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e554730d;
  padding: 80px 100px 60px 100px;
  height: 320px;
}
.left-side {
  text-align: center;
  padding-top: 20px;
  padding-right: 180px;
}

.sale-title{
  color: #272727;
  font-family: Lato;
  font-size: 30px;
  font-weight: bold;
 
}

.diff-color{
    color: #E55473;
}

.img-sale {
  width: 250px;
}

/* insta part */

.section-3{
    height: 100vh;
    
}
.container-4{
    display: flex;
    justify-content: center;
    align-items: center;
   
    padding: 20px 120px 30px 120px;
}
.card{
    margin-right: 28px;
    margin-top: 5px;
}

img{
    width: 300px;
    border-radius: 10px;
}

/* 2nd part of insta */
.subsection{
    background-image: url("./flower asset/Rectangle 9.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    width: full;
    margin-left: 100px;
    margin-right: 130px;
    border-radius: 10px;

    
}



.contact input{
    padding: 14px 22px ;
    margin-left: 250px;
    border: none;
    width: 50%;
    border-radius: 5px;
    margin-right: 8px;
    margin-top: 8px;
    
    
    
}
